<!DOCTYPE html>

<html>
<head>
  <title>About</title>
   <link rel="icon" href="/img/logo.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
       {{!-- <center>{{title}}</center> --}}


     <div class="main-content">
       {{>header}}
       <p>This site was created by ME. It uses data from mapbox.com </p>
       <img class="portrait" src="/img/images.jpeg">

     </div>   
    
  {{>footer}}

           {{!-- <div>
              {{!-- <center> Created by {{name}}</center> --}}
             {{!-- </div> --}} 
</body>

</html>