<!DOCTYPE html>

<html>
<head>
  <title>Help</title>
   <link rel="icon" href="img/logo.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    

   {{!-- <h1> 
     <div> 
       <center>{{title}}</center>
     </div>
   </h1> --}}

<div class= "main-content">  
  {{>header}}
  <p>Message is: {{helpText}}</p>
</div>
              
  {{>footer}}

</body>

</html>